.account-wrapper{
  min-height: 80vh;
  background: lighten($primary-color , 20%);
  margin-top: -20px;
  padding: 50px 0px;
  .account-body-wrapper{
    .account-form-wrapper{
      background: #ffffff;
      min-height: 60vh;
      padding: 20px;
      .heading-text{
        p{
          a{
            color: $secondary-color;
          }
        }
      }
      form{
        padding-top: 20px;
        border-top: 1px solid #f5f5f5;
        .form-group{
          p{
            padding: 10px 0px;
          }
        }
        .buttons{
          .btn-black{
            width: 100%;
          }
        }
      }
    }
  }
}
.booking-section{
  background: $light-text-color;
  padding: 20px;
}

.denote{
  color: darken($light-text-color , 50%);
  width: 40%;
  display: inline-flex;
}