@import "variable";
@import "constant";
@import "datepicker";
@import "account";

.main-banner {
  margin-top: -20px;
  overflow: hidden;
  object-fit: cover;
  max-height: 80vh;
  img {
    width: 100%;
  }
  .quote-wrapper{
    position: absolute;
    right: 0;
    left: 0;
    top: 200px;
  }
}

.bungy-services{
  background: url("../images/services-back.jpg") no-repeat;
  min-height: 400px;
  background-position: left;


  .services-slider{
    margin-top: -100px;
    .services{
      background: $secondary-color;
      padding: 40px 30px;
      min-height: 320px;  
    }
    .darken-service{
      background: darken($secondary-color , 5%);
    }
    .services-inner-wrapper{
      text-align: center;
      figure{
        img{
          width: 35%;
          height: auto;
          float: none;
          display: initial;
        }
      }
      .caption-text{
        padding-top: 20px;
        h4{
          font-size: 22px;
          color: $primary-color;
          font-weight: 600;
        }
        p{
          color: $white;
        }
      }
    }
  }

  .into-bungy{
    padding: 50px 0px;
    .heading-text{
      h3{
        color: $primary-color;

      }
      h4{
        color: $secondary-color;
      }
    }
  }
  
}

.bungy-squad{
  background: url("../images/team.jpg") no-repeat;
  background-size: cover;
  padding: 50px 0px;
  background-attachment: fixed;
  .heading-text{
    h3{
      color: $white;
    }
    h4{
      color: $secondary-color;
    }

  }
  .description{
    color: $white;
  }
  .squad-slider{
    .squad{
      text-align: center;
      padding: 20px;

      figure{
        img{
          width: 120px;
          height: 120px;
          border-radius: 50%;
          display: initial;
        }
      }
      ul{
        font-family: 'Roboto Slab', serif;
        padding: 20px 0px 0px 0px;
        .name{
          font-size: 18px;
          color: $white;
        }
        .title{
          color: $secondary-color;
          padding-bottom: 10px;
        }
        .exp{
          color: $white;
          font-size: 13px;
        }
      }
      &:hover{
        img{
          border: 5px solid $secondary-color;
        }
      }
    }
  }
  .slick-prev {
    left: -70px;
  }
  .slick-next {
    right: -70px;
  }
  .slick-prev:before {
    content: "\f124";
  }.slick-next:before {
     content: "\f125";
   }


  .slick-prev:before, .slick-next:before {
    font-family: "ionicons";
    font-size: 25px;
    line-height: 1;
    color: white;
    opacity: 1;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    background: #6f6f6f7d;
    padding: 20px 10px;
    -moz-osx-font-smoothing: grayscale;
  }


}

.squad-job{
  background: $secondary-color;
  padding: 30px 0px;
  color: $primary-color;
  .buttons{
    a{
      float: right;
      display: block;
    }
  }
}

.bungy-quote{
  min-height: 300px;
  background: #f3f3f3;
  .bungy-prepare{
    padding: 60px 0px;
    .heading-text{
      h4{
        color: $secondary-color;
      }
    }
    .icons-action{
      padding-top: 20px;
      ul{
        li{
          padding-right: 20px;
          a{
            color: $secondary-color;
            font-size: 18px;
            font-weight: 500;
            vertical-align: middle;
            padding: 15px 30px;
            border: 2px solid $secondary-color;
            &:hover{
              color: $primary-color;
              border: 2px solid $primary-color;
          }
            span{
              font-size: 40px;
              vertical-align: middle;
              padding-right: 10px;
              font-weight: bold;
            }
          }
        }
      }
    }


  }
  .quote-section{
    background: $white;
    margin-top: -30px;
    padding: 40px 20px;
    form{
      h3{
        font-weight: 800;
        color: $primary-color;
        font-size: 40px;
        margin: 0px;
        margin-bottom: 20px;
        padding: 0px;
      }
      button{
        width: 100%;
      }
    }
  }
}

.bungy-works{
  padding: 60px 0px;
  background: url("../images/news-back.jpg") no-repeat;
  background-position: right;
  background-size: cover;
  .heading-text{
    h4{
      color: $secondary-color;
    }
  }
  .work-slider{
    padding-top: 30px;
    .work-box{
      ul{
        li{
            padding-bottom: 20px;
        }
        .title{
          color: $primary-color;
          font-family: 'Roboto Slab', serif;
          font-size: 22px;
        }
        .description{
          font-size: 18px;
          font-family: 'Roboto Slab', serif;
          text-align: justify;
        }
        span{
          font-size: 16px;
          color: $secondary-color;
        }
        i{
          font-size: 16px;
        }

      }

    }
  }
}
.bungee-packages{
  background: #f3f3f3;
  padding: 40px 0px;
  .row{
    .col-md-4{
      padding: 0px;
      margin: 0px;
    }
  }

  .bungee-packages-content{
    padding-top: 40px;
  }

  .price{
    background: $secondary-color;
    padding: 20px;
    text-align: center;
    .heading-text{
      h1{
        margin: 0px;
        color: $primary-color;
      }
      h4{
        margin: 0px;
        padding-top: 10px;
        color: $primary-color;
      }
    }
    ul{
      li{
        font-size: 20px;
        color: $primary-color;
        img{
          width: 220px;
        }
      }
    }
  }
  .price-darken{
    background: darken($secondary-color , 5%);
  }
}
.newsletter{
  padding: 30px 100px;
}

.inner-booking{
  min-height: 100vh;
  background: url("../images/bungy-inner-bg.jpg") no-repeat;
  background-size: cover;
  margin-top: -20px;
  padding: 40px 0px;
  .selection-form-group{
    padding: 20px 0px;
    .heading-text{
      color: $white;
    }
    .selected{
      padding: 20px 0px;
    }
    .description{
      color:$white;
      span{
        color: $secondary-color;
      }
      ul{
        li{
          font-size: 14px;
          font-family: 'Roboto Slab', serif;
          padding-top: 10px;
        }
        .price{
          color: $secondary-color;
        }
      }
    }
  }
  .tab-content{
    .remove{
      display: block;
      color: $secondary-color;
      text-decoration: none;
      font-size: 16px;
      &:hover{
        color: $secondary-color;
      }
    }
  }
  .person{
    margin-bottom: 10px;
    padding: 5px 20px;
    background: #000000;
  }

}

.inner-banner{
  position: relative;
  .banner{
    margin-top: -20px;
  }
  img{
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .inner-banner-text{
    position: absolute;
    top: 30%;
    left: 20%;
    right: 5%;
    bottom: 0;
    text-align: right;
    color: $white;
  }
}
  
.inner-con-text{
  padding: 50px;
}  

.gallery-wrapper{
  background: $primary-color;
  color: $white;
  padding: 40px 0px 80px 0px;
  margin-top: -20px;
  
}

.gallery-body-wrapper{
  padding: 20px 0px;

  .tab-content{
    margin-top: -60px;
    background: none;

    img{
      padding-bottom: 20px;
    }
  }
}
.work-story{
  padding: 80px 0px;
}
.testimonial-wrapper{
  .slick-slide {
    margin: 0 10px;
}
/* the parent */
.slick-list {
    margin: 0 -10px;
}
.testimonial-slider{
  .testimonial{
    padding: 20px 30px;
    background: $secondary-color;
    figure{
      img{
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 50%;
      }
      padding-bottom: 20px;
    }
  }

}
}
