body {
  background: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
}

body h4 {
  font-family: 'Roboto Slab', serif;
}

body p {
  font-family: 'Roboto Slab', serif;
}

body a {
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
}

body .container {
  width: 75%;
}

.top-nav {
  background: #000000;
  color: #ffffff;
  padding: 10px 0px;
  text-align: right;
}

.top-nav .locate, .top-nav .social {
  margin-bottom: 0px;
}

.top-nav .locate li, .top-nav .social li {
  font-size: 16px;
  font-weight: 500;
  padding-right: 5px;
}

.top-nav .locate li a, .top-nav .social li a {
  color: #dddddd;
  font-size: 16px;
}

.top-nav .locate li a span, .top-nav .social li a span {
  color: #ffffff;
}

.navbar-custom {
  background: #e4c102;
  border: none;
  border-radius: 0px;
  padding: 15px 0px;
}

.navbar-custom .container .navbar-brand, .navbar-custom .navbar > .container-fluid .navbar-brand {
  margin-left: 0px;
  margin-top: -35px;
}

.navbar-custom .container .navbar-brand img, .navbar-custom .navbar > .container-fluid .navbar-brand img {
  background: #000000;
  padding: 15px;
  z-index: 100;
  position: absolute;
}

.navbar-custom .navbar-nav > li > a {
  padding: 12px 20px;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar-custom .navbar-nav > li > a:hover {
  color: #ffffff;
}

.navbar-custom .navbar-nav > li > .btn-outline-black {
  border: 2px solid #000000;
  border-radius: 0px;
}

.navbar-custom .navbar-nav > li > .btn-outline-black:hover {
  background: #000000;
  color: #e4c102;
}

.heading-text h3 {
  font-size: 22px;
  font-weight: 700;
  text-transform: Uppercase;
}

.heading-text h4 {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}

.heading-text h1 {
  font-size: 62px;
  font-weight: 600;
}

.description p {
  font-size: 17px;
  text-align: justify;
}

.buttons .btn-outline-black {
  padding: 15px 30px;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #000000;
  border-radius: 0px;
}

.buttons .btn-outline-black:hover {
  background: #000000;
  color: #e4c102;
}

.buttons .btn-black {
  padding: 15px 30px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #000000;
  background: #000000;
  border-radius: 0px;
}

.buttons .btn-black:hover {
  color: #000000;
  background: #e4c102;
}

.secondary-bg {
  background: #e4c102;
}

.form-group label {
  font-size: 18px;
  color: #000000;
  font-weight: 500;
}

.form-group .form-control {
  height: 50px;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #000000;
  background: transparent;
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}

.form-group .input-group-btn:last-child > .btn, .form-group .input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: -1px;
  border-left: none !important;
  border-radius: 0px;
  height: 50px;
  border: 2px solid #000;
}

.form-group .input-group-btn:first-child > .btn, .form-group .input-group-btn:first-child > .btn-group {
  margin-right: -1px;
  margin-left: -1px;
  border-right: none !important;
  border-radius: 0px;
  height: 50px;
  border: 2px solid #000;
}

.padding-bottom {
  padding: 30px;
}

.form-group-white label {
  font-size: 18px;
  color: #ffffff;
  font-weight: 500;
}

.form-group-white .form-control {
  height: 50px;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 2px solid #ffffff;
  background: transparent;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.form-group-white .input-group-btn:last-child > .btn, .form-group-white .input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: -1px;
  border-left: none !important;
  border-radius: 0px;
  height: 50px;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
}

.form-group-white .input-group-btn:first-child > .btn, .form-group-white .input-group-btn:first-child > .btn-group {
  margin-right: -1px;
  margin-left: -1px;
  border-right: none !important;
  border-radius: 0px;
  height: 50px;
  border: 2px solid #ffffff;
  background: transparent;
  color: #ffffff;
}

footer {
  background: #000000;
  color: #ffffff !important;
  padding: 40px 0px;
}

footer h4 {
  display: inline-block;
  padding: 0px 20px 20px 0px;
  border-bottom: 4px solid #e4c102;
}

footer .bod span {
  color: #e4c102;
}

footer ul li {
  padding-bottom: 10px;
  font-size: 18px;
  color: #ffffff;
}

footer ul li a {
  font-size: 18px;
  color: #ffffff;
}

footer ul li a:hover {
  color: #e4c102;
}

.nav-tabs > li > a {
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  border-radius: 0px;
  color: #000000;
}

.nav-tabs > li > a:hover {
  background: none;
  border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #e4c102;
  cursor: default;
  background-color: #ffffff;
  border: none;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  border-radius: 0px;
}

.tab-content {
  background: #ffffff;
  padding: 20px;
}

.full-width {
  width: 100%;
}

tr {
  height: 50px;
}

abbr {
  border-bottom: none;
}

.pika-single {
  z-index: 9999;
  display: block;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  border-bottom-color: #bbb;
  font-family: "AvenirNext-Medium", Avenir, "Helvetica Neue", Helvetica, Arial, sans;
  background-color: #0E0E0E;
  padding-top: 3.5rem;
}

.pika-single:before,
.pika-single:after {
  content: " ";
  display: table;
}

.pika-single.is-hidden {
  display: none;
}

.pika-single.is-bound {
  -webkit-box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}

.pika-lendar {
  width: 100%;
  height: 100%;
  background: #0E0E0E;
}

.pika-title {
  position: relative;
  text-align: center;
  margin-bottom: 2.5rem;
}

.pika-label {
  display: inline-block;
  position: relative;
  z-index: 9999;
  overflow: hidden;
  margin: 0;
  padding: 5px 3px;
  font-size: 30px;
  line-height: 20px;
  font-weight: bold;
}

.pika-title select {
  cursor: pointer;
  position: absolute;
  z-index: 9998;
  margin: 0;
  left: 0;
  top: 5px;
  filter: alpha(opacity=0);
  opacity: 0;
  color: #fff;
  margin-bottom: 0.3rem;
}

.pika-prev,
.pika-next {
  display: block;
  cursor: pointer;
  margin-top: 15rem;
  position: relative;
  outline: none;
  border: 0;
  padding: 0;
  width: 20px;
  height: 30px;
  text-indent: 20px;
  white-space: nowrap;
  overflow: hidden;
  background-position: center center;
  background-repeat: no-repeat;
}

.pika-prev:hover,
.pika-next:hover {
  opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
  float: left;
  background-image: url("../arrow-previous.svg");
  left: 6rem;
  background-color: #0E0E0E;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.pika-prev:hover,
.is-rtl .pika-next:hover {
  -webkit-transform: scale(1.08, 1.08);
  transform: scale(1.08, 1.08);
}

.pika-next,
.is-rtl .pika-prev {
  float: right;
  background-image: url("../arrow-next.svg");
  right: 6rem;
  background-color: #0E0E0E;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.pika-next:hover,
.is-rtl .pika-prev:hover {
  -webkit-transform: scale(1.08, 1.08);
  transform: scale(1.08, 1.08);
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
  cursor: default;
  opacity: 0.2;
}

.pika-select {
  display: inline-block;
}

.pika-table {
  width: 90%;
  max-width: 680px;
  height: 60%;
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  background-color: #0E0E0E;
}

.pika-table th,
.pika-table td {
  width: 14.28571%;
  padding: 0;
  background-color: #0E0E0E;
  height: 50px;
  color: #A0A0A0;
  font-size: 14px;
  line-height: 25px;
  text-transform: none;
  font-weight: normal;
}

.pika-button {
  cursor: pointer;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  border: 0;
  margin: auto;
  padding: 5px;
  text-align: center;
  color: #F9F9F9;
  background-color: #0E0E0E;
  font-size: 14px;
  line-height: 15px;
  font-weight: 600;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.pika-button:hover {
  color: #fff;
  background: #ff8000;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.pika-week {
  font-size: 11px;
  color: #999;
}

.is-today .pika-button {
  background: #0E0E0E;
  border: 1px solid #ff8000;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.is-selected .pika-button {
  color: #fff;
  font-weight: bold;
  background: #ff8000;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.is-inrange .pika-button {
  background: #D5E9F7;
}

.is-startrange .pika-button {
  color: #fff;
  background: #6CB31D;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px;
}

.is-endrange .pika-button {
  color: #fff;
  background: #33aaff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 3px;
}

.is-disabled .pika-button {
  pointer-events: none;
  cursor: default;
  color: #999;
  opacity: 0.3;
}

@media (max-width: 965px) {
  .pika-prev,
  .pika-next {
    margin-top: -10px;
  }
  .pika-next,
  .is-rtl .pika-prev {
    right: 12rem;
  }
  .pika-prev,
  .is-rtl .pika-next {
    left: 12rem;
  }
}

@media (max-width: 769px) {
  .pika-table {
    height: 35%;
  }
  .pika-table th,
  .pika-table td {
    width: 2%;
  }
  .pika-next,
  .is-rtl .pika-prev {
    right: 8rem;
  }
  .pika-prev,
  .is-rtl .pika-next {
    left: 8rem;
  }
}

@media (max-width: 610px) {
  .pika-label {
    font-size: 1.15rem;
  }
  .pika-title {
    margin-bottom: 1.25rem;
  }
  .pika-next,
  .is-rtl .pika-prev {
    right: 5rem;
  }
  .pika-prev,
  .is-rtl .pika-next {
    left: 5rem;
  }
}

@media (max-width: 450px) {
  tr {
    height: 46px;
  }
  .pika-table th,
  .pika-table td {
    height: 35px;
    line-height: 18px;
  }
  .pika-single {
    padding-top: 2rem;
  }
  .pika-next,
  .is-rtl .pika-prev {
    right: 2.5rem;
  }
  .pika-prev,
  .is-rtl .pika-next {
    left: 2.5rem;
  }
}

.account-wrapper {
  min-height: 80vh;
  background: #333333;
  margin-top: -20px;
  padding: 50px 0px;
}

.account-wrapper .account-body-wrapper .account-form-wrapper {
  background: #ffffff;
  min-height: 60vh;
  padding: 20px;
}

.account-wrapper .account-body-wrapper .account-form-wrapper .heading-text p a {
  color: #e4c102;
}

.account-wrapper .account-body-wrapper .account-form-wrapper form {
  padding-top: 20px;
  border-top: 1px solid #f5f5f5;
}

.account-wrapper .account-body-wrapper .account-form-wrapper form .form-group p {
  padding: 10px 0px;
}

.account-wrapper .account-body-wrapper .account-form-wrapper form .buttons .btn-black {
  width: 100%;
}

.booking-section {
  background: #dddddd;
  padding: 20px;
}

.denote {
  color: #5e5e5e;
  width: 40%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.main-banner {
  margin-top: -20px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 80vh;
}

.main-banner img {
  width: 100%;
}

.main-banner .quote-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  top: 200px;
}

.bungy-services {
  background: url("../images/services-back.jpg") no-repeat;
  min-height: 400px;
  background-position: left;
}

.bungy-services .services-slider {
  margin-top: -100px;
}

.bungy-services .services-slider .services {
  background: #e4c102;
  padding: 40px 30px;
  min-height: 320px;
}

.bungy-services .services-slider .darken-service {
  background: #cbac02;
}

.bungy-services .services-slider .services-inner-wrapper {
  text-align: center;
}

.bungy-services .services-slider .services-inner-wrapper figure img {
  width: 35%;
  height: auto;
  float: none;
  display: initial;
}

.bungy-services .services-slider .services-inner-wrapper .caption-text {
  padding-top: 20px;
}

.bungy-services .services-slider .services-inner-wrapper .caption-text h4 {
  font-size: 22px;
  color: #000000;
  font-weight: 600;
}

.bungy-services .services-slider .services-inner-wrapper .caption-text p {
  color: #ffffff;
}

.bungy-services .into-bungy {
  padding: 50px 0px;
}

.bungy-services .into-bungy .heading-text h3 {
  color: #000000;
}

.bungy-services .into-bungy .heading-text h4 {
  color: #e4c102;
}

.bungy-squad {
  background: url("../images/team.jpg") no-repeat;
  background-size: cover;
  padding: 50px 0px;
  background-attachment: fixed;
}

.bungy-squad .heading-text h3 {
  color: #ffffff;
}

.bungy-squad .heading-text h4 {
  color: #e4c102;
}

.bungy-squad .description {
  color: #ffffff;
}

.bungy-squad .squad-slider .squad {
  text-align: center;
  padding: 20px;
}

.bungy-squad .squad-slider .squad figure img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: initial;
}

.bungy-squad .squad-slider .squad ul {
  font-family: 'Roboto Slab', serif;
  padding: 20px 0px 0px 0px;
}

.bungy-squad .squad-slider .squad ul .name {
  font-size: 18px;
  color: #ffffff;
}

.bungy-squad .squad-slider .squad ul .title {
  color: #e4c102;
  padding-bottom: 10px;
}

.bungy-squad .squad-slider .squad ul .exp {
  color: #ffffff;
  font-size: 13px;
}

.bungy-squad .squad-slider .squad:hover img {
  border: 5px solid #e4c102;
}

.bungy-squad .slick-prev {
  left: -70px;
}

.bungy-squad .slick-next {
  right: -70px;
}

.bungy-squad .slick-prev:before {
  content: "\f124";
}

.bungy-squad .slick-next:before {
  content: "\f125";
}

.bungy-squad .slick-prev:before, .bungy-squad .slick-next:before {
  font-family: "ionicons";
  font-size: 25px;
  line-height: 1;
  color: white;
  opacity: 1;
  font-weight: lighter;
  -webkit-font-smoothing: antialiased;
  background: #6f6f6f7d;
  padding: 20px 10px;
  -moz-osx-font-smoothing: grayscale;
}

.squad-job {
  background: #e4c102;
  padding: 30px 0px;
  color: #000000;
}

.squad-job .buttons a {
  float: right;
  display: block;
}

.bungy-quote {
  min-height: 300px;
  background: #f3f3f3;
}

.bungy-quote .bungy-prepare {
  padding: 60px 0px;
}

.bungy-quote .bungy-prepare .heading-text h4 {
  color: #e4c102;
}

.bungy-quote .bungy-prepare .icons-action {
  padding-top: 20px;
}

.bungy-quote .bungy-prepare .icons-action ul li {
  padding-right: 20px;
}

.bungy-quote .bungy-prepare .icons-action ul li a {
  color: #e4c102;
  font-size: 18px;
  font-weight: 500;
  vertical-align: middle;
  padding: 15px 30px;
  border: 2px solid #e4c102;
}

.bungy-quote .bungy-prepare .icons-action ul li a:hover {
  color: #000000;
  border: 2px solid #000000;
}

.bungy-quote .bungy-prepare .icons-action ul li a span {
  font-size: 40px;
  vertical-align: middle;
  padding-right: 10px;
  font-weight: bold;
}

.bungy-quote .quote-section {
  background: #ffffff;
  margin-top: -30px;
  padding: 40px 20px;
}

.bungy-quote .quote-section form h3 {
  font-weight: 800;
  color: #000000;
  font-size: 40px;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
}

.bungy-quote .quote-section form button {
  width: 100%;
}

.bungy-works {
  padding: 60px 0px;
  background: url("../images/news-back.jpg") no-repeat;
  background-position: right;
  background-size: cover;
}

.bungy-works .heading-text h4 {
  color: #e4c102;
}

.bungy-works .work-slider {
  padding-top: 30px;
}

.bungy-works .work-slider .work-box ul li {
  padding-bottom: 20px;
}

.bungy-works .work-slider .work-box ul .title {
  color: #000000;
  font-family: 'Roboto Slab', serif;
  font-size: 22px;
}

.bungy-works .work-slider .work-box ul .description {
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  text-align: justify;
}

.bungy-works .work-slider .work-box ul span {
  font-size: 16px;
  color: #e4c102;
}

.bungy-works .work-slider .work-box ul i {
  font-size: 16px;
}

.bungee-packages {
  background: #f3f3f3;
  padding: 40px 0px;
}

.bungee-packages .row .col-md-4 {
  padding: 0px;
  margin: 0px;
}

.bungee-packages .bungee-packages-content {
  padding-top: 40px;
}

.bungee-packages .price {
  background: #e4c102;
  padding: 20px;
  text-align: center;
}

.bungee-packages .price .heading-text h1 {
  margin: 0px;
  color: #000000;
}

.bungee-packages .price .heading-text h4 {
  margin: 0px;
  padding-top: 10px;
  color: #000000;
}

.bungee-packages .price ul li {
  font-size: 20px;
  color: #000000;
}

.bungee-packages .price ul li img {
  width: 220px;
}

.bungee-packages .price-darken {
  background: #cbac02;
}

.newsletter {
  padding: 30px 100px;
}

.inner-booking {
  min-height: 100vh;
  background: url("../images/bungy-inner-bg.jpg") no-repeat;
  background-size: cover;
  margin-top: -20px;
  padding: 40px 0px;
}

.inner-booking .selection-form-group {
  padding: 20px 0px;
}

.inner-booking .selection-form-group .heading-text {
  color: #ffffff;
}

.inner-booking .selection-form-group .selected {
  padding: 20px 0px;
}

.inner-booking .selection-form-group .description {
  color: #ffffff;
}

.inner-booking .selection-form-group .description span {
  color: #e4c102;
}

.inner-booking .selection-form-group .description ul li {
  font-size: 14px;
  font-family: 'Roboto Slab', serif;
  padding-top: 10px;
}

.inner-booking .selection-form-group .description ul .price {
  color: #e4c102;
}

.inner-booking .tab-content .remove {
  display: block;
  color: #e4c102;
  text-decoration: none;
  font-size: 16px;
}

.inner-booking .tab-content .remove:hover {
  color: #e4c102;
}

.inner-booking .person {
  margin-bottom: 10px;
  padding: 5px 20px;
  background: #000000;
}

.inner-banner {
  position: relative;
}

.inner-banner .banner {
  margin-top: -20px;
}

.inner-banner img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.inner-banner .inner-banner-text {
  position: absolute;
  top: 30%;
  left: 20%;
  right: 5%;
  bottom: 0;
  text-align: right;
  color: #ffffff;
}

.inner-con-text {
  padding: 50px;
}

.gallery-wrapper {
  background: #000000;
  color: #ffffff;
  padding: 40px 0px 80px 0px;
  margin-top: -20px;
}

.gallery-body-wrapper {
  padding: 20px 0px;
}

.gallery-body-wrapper .tab-content {
  margin-top: -60px;
  background: none;
}

.gallery-body-wrapper .tab-content img {
  padding-bottom: 20px;
}

.work-story {
  padding: 80px 0px;
}

.testimonial-wrapper {
  /* the parent */
}

.testimonial-wrapper .slick-slide {
  margin: 0 10px;
}

.testimonial-wrapper .slick-list {
  margin: 0 -10px;
}

.testimonial-wrapper .testimonial-slider .testimonial {
  padding: 20px 30px;
  background: #e4c102;
}

.testimonial-wrapper .testimonial-slider .testimonial figure {
  padding-bottom: 20px;
}

.testimonial-wrapper .testimonial-slider .testimonial figure img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
/*# sourceMappingURL=master.css.map */