$border-color : #ddd;
$white : #fff;
$black : #000;
$prime-color : #33A5FF;

.navbar-expand-md .navbar-brand{
    width: 0px !important;
}
@media (min-width: 768px){
    .navbar-expand-md .navbar-brand {
        width: 0px !important;
    }
}

.content{
    padding: 20px 40px 0px 40px;  
    .main-content{ 
        .overview-card{
            padding: 20px 30px;
            color: $white;
            -webkit-box-shadow: 0px 0px 42px -12px rgba(84,93,194,0.65);
            -moz-box-shadow: 0px 0px 42px -12px rgba(84,93,194,0.65);
            box-shadow: 0px 0px 42px -12px rgba(84,93,194,0.65);  
            h4{
                padding: 0;
                margin: 0;
            }  
            h1{
                font-size: 45px;
                padding:0px;
                margin: 0;
                font-weight: 600;
            }
            a{
                color: $black;
                text-decoration: none;
                padding: 5px 5px 0px 0px;
                margin-top: 10px;
                display: inline-block;
                border-bottom: 1px solid transparent;
                &:hover{
                    color: $white ;
                    border-bottom: 1px solid $white;
                }
                

            }


        }

        .yellow{
            background: #ffb347;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #ffcc33, #ffb347);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #ffcc33, #ffb347); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
        .blue{
            background: #43cea2;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }

        .red{
            background: #f2709c;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #ff9472, #f2709c);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #ff9472, #f2709c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        }
    }

    .booking-content{
        padding: 20px 0px 0px 0px;
        .new-booking-wrapper{
            h4{
                font-size: 32px;
                font-weight: 600;
                
            }
        }
    }

    .SignUp-content{
        padding: 50px 0px 0px 0px; 
        .user-wrapper{
            h4{
                font-size: 32px;
                font-weight: 600;
                
            }
        }
    }
}

.card{
    .form-wrapper{
        border-bottom: 1px solid $border-color;
        .form-group{
            padding: 25px;
            margin-bottom: 0;
            .form-control{
                background: #f7f6f6;
                height: 50px;
                font-size: 18px;
                font-weight: 300;
                padding-left: 40px;
                
            }
        }
    }
    .table-responsive{
        min-height: 200px;
        
    }
    .ancor-division{
        padding-top: 15px;
        a{
            padding: 20px;
            display: block;
            color: $white;
            background: $prime-color;
            font-size: 16px;

            span{
                padding-top: 5px;
            }

            &:hover{
                background: darken($prime-color , 20%);
            }
        }
    }
}

.export-content{
    background: $white;
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 20px;
    
    .form-wrapper{
        margin-top: 10px;
        

        .form-control{
            font-size: 18px;
            background: #f7f6f6;
            height: 55px;
            font-weight: 300;
        }
        .btn{
            font-size: 18px;
            padding: 15px 20px;
            width: 100%;
            margin-top: 25px;
        }
    }
}

.heading-text{
    h4{
        font-size: 32px;
        font-weight: 600;
        
    }
}

.uploaded-staff-image{
    img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        object-fit: cover;
        text-align: center;
        display: inherit;
    }
}

.add-staff-btn{
    padding: 30px 0px 0px 0px;
    margin: 0;
    .btn-add{
        width: 100%;
        padding: 20px 0px;
        outline: 0;
        border-radius: 0px;
        font-size: 18px;
        font-weight: 500;
    }
}

.media-upload-wrapper{
    
    /* File Upload */
    .fake-shadow {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }
    
    .fileUpload #new-img-id{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 33px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    .new-img-preview {
        width: 100%;
        height: 200px !important; 
        object-fit: cover;
          
    }
    .btn-lg{
        margin: 10px 0px; 
        text-align: center;
    }

    .ancor-division{
        padding: 0px;
        a{
            background: #43cea2;
            &:hover{
                background: #43cea2;
            }
        }
    }
    .text-box{
        height: 150px !important; 
    }
}