.navbar-expand-md .navbar-brand {
  width: 0px !important;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-brand {
    width: 0px !important;
  }
}

.content {
  padding: 20px 40px 0px 40px;
}

.content .main-content .overview-card {
  padding: 20px 30px;
  color: #fff;
  -webkit-box-shadow: 0px 0px 42px -12px rgba(84, 93, 194, 0.65);
  box-shadow: 0px 0px 42px -12px rgba(84, 93, 194, 0.65);
}

.content .main-content .overview-card h4 {
  padding: 0;
  margin: 0;
}

.content .main-content .overview-card h1 {
  font-size: 45px;
  padding: 0px;
  margin: 0;
  font-weight: 600;
}

.content .main-content .overview-card a {
  color: #000;
  text-decoration: none;
  padding: 5px 5px 0px 0px;
  margin-top: 10px;
  display: inline-block;
  border-bottom: 1px solid transparent;
}

.content .main-content .overview-card a:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.content .main-content .yellow {
  background: #ffb347;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#ffcc33), to(#ffb347));
  background: linear-gradient(to right, #ffcc33, #ffb347);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content .main-content .blue {
  background: #43cea2;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#185a9d), to(#43cea2));
  background: linear-gradient(to right, #185a9d, #43cea2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content .main-content .red {
  background: #f2709c;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#ff9472), to(#f2709c));
  background: linear-gradient(to right, #ff9472, #f2709c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.content .booking-content {
  padding: 20px 0px 0px 0px;
}

.content .booking-content .new-booking-wrapper h4 {
  font-size: 32px;
  font-weight: 600;
}

.content .SignUp-content {
  padding: 50px 0px 0px 0px;
}

.content .SignUp-content .user-wrapper h4 {
  font-size: 32px;
  font-weight: 600;
}

.card .form-wrapper {
  border-bottom: 1px solid #ddd;
}

.card .form-wrapper .form-group {
  padding: 25px;
  margin-bottom: 0;
}

.card .form-wrapper .form-group .form-control {
  background: #f7f6f6;
  height: 50px;
  font-size: 18px;
  font-weight: 300;
  padding-left: 40px;
}

.card .table-responsive {
  min-height: 200px;
}

.card .ancor-division {
  padding-top: 15px;
}

.card .ancor-division a {
  padding: 20px;
  display: block;
  color: #fff;
  background: #33A5FF;
  font-size: 16px;
}

.card .ancor-division a span {
  padding-top: 5px;
}

.card .ancor-division a:hover {
  background: #0072cc;
}

.export-content {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 20px;
}

.export-content .form-wrapper {
  margin-top: 10px;
}

.export-content .form-wrapper .form-control {
  font-size: 18px;
  background: #f7f6f6;
  height: 55px;
  font-weight: 300;
}

.export-content .form-wrapper .btn {
  font-size: 18px;
  padding: 15px 20px;
  width: 100%;
  margin-top: 25px;
}

.heading-text h4 {
  font-size: 32px;
  font-weight: 600;
}

.uploaded-staff-image img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  text-align: center;
  display: inherit;
}

.add-staff-btn {
  padding: 30px 0px 0px 0px;
  margin: 0;
}

.add-staff-btn .btn-add {
  width: 100%;
  padding: 20px 0px;
  outline: 0;
  border-radius: 0px;
  font-size: 18px;
  font-weight: 500;
}

.media-upload-wrapper {
  /* File Upload */
}

.media-upload-wrapper .fake-shadow {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.media-upload-wrapper .fileUpload #new-img-id {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 33px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.media-upload-wrapper .new-img-preview {
  width: 100%;
  height: 200px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.media-upload-wrapper .btn-lg {
  margin: 10px 0px;
  text-align: center;
}

.media-upload-wrapper .ancor-division {
  padding: 0px;
}

.media-upload-wrapper .ancor-division a {
  background: #43cea2;
}

.media-upload-wrapper .ancor-division a:hover {
  background: #43cea2;
}

.media-upload-wrapper .text-box {
  height: 150px !important;
}
/*# sourceMappingURL=main.css.map */